.project
.classpath
target/
.settings/
.externalToolBuilders/
.navigation/
logs/

*.iml
/**/.idea
/**/.git
/**/.svn

.gradle
/local.properties
.DS_Store
/build
/Pods
Podfile.lock
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

node_modules/
npm-debug.log
